.number-box {
    border: 2px solid black;
    border-radius: 3px;
    width: 1em;
    text-align: center; 
}

.number-box-container {
    display: inline-block;
}

.number-box::selection {
    color: inherit;
}

.inactive {
    display: none;
}

.hide {
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
}